/** IMPORTS BASE**/ /** VARIABLES DE COLORES **/
/** VARIABLES DE FUENTES **/
/** VARIABLES DE FONT SIZES **/
/**PROPIEDADES GENERAL**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 28px;
}

body {
  background-color: #F7DAD9;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

ul {
  padding-left: 0;
}

/** UTILIDADES **/
/** IMPORTS COMPONENTES**/
/**PROPIEDADES HEADER**/
header {
  display: flex;
  flex-direction: column;
  background-color: #354259;
  color: #fabfbd;
  text-align: center;
}
header h1 {
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  font-size: 54px;
  margin: 0;
}
header span {
  font-weight: bold;
  font-size: 74px;
}
header ul {
  padding-left: 0;
}
header li {
  display: inline;
  border-radius: 6px;
  background-color: #F7DAD9;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  margin-inline: 4px;
  font-family: "Sacramento", cursive;
  text-decoration: underline;
}
header a {
  color: #354259;
  font-size: 28px;
}
header img:hover {
  transition: 1s;
  transform: rotate(360deg);
}

.titulo {
  display: inline-block;
  position: relative;
}

.titulo:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 10px;
  left: 0;
  background-color: #F7DAD9;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.titulo:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-list li {
  transition: 2s;
}
.nav-list li:hover {
  text-decoration: underline red;
  background-color: lightblue;
}

/**PROPIEDADES FOOTER**/
footer {
  display: flex;
  flex-direction: column;
  padding: 22px;
  background-color: #354259;
  text-align: center;
}
footer img:hover {
  transition: 1s;
  transform: rotate(360deg);
}

.redesociales li {
  display: inline;
  text-decoration: none;
  margin-inline: 25px;
}
.redesociales img:hover {
  transition: 1s;
  transform: rotate(360deg);
}

/** IMPORTS LAYOUT**/
/**PROPIEDADES INDEX**/
/**GRID**/
#grid_index {
  display: grid;
  grid-template-areas: "header" "principal" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: principal;
}

footer {
  grid-area: footer;
}

/**PROPIEDADES HABITO ALIMENTICIO**/
.habitoalimenticio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  color: #354259;
}
.habitoalimenticio h2 {
  background-color: #354259;
  border-radius: 10px;
  border: 4px solid #fabfbd;
  padding: 12px;
  margin: 0 auto;
  color: #F7DAD9;
  width: 95%;
  font-size: 32px;
}
.habitoalimenticio p {
  padding: 10px;
  width: 95%;
  margin-top: 16px;
  margin-bottom: 0;
  color: #354259;
  font-size: 28px;
  border: 1px solid #354259;
  background-color: #fabfbd;
  border-radius: 10px;
  transition: 1s;
}
.habitoalimenticio p:hover {
  box-shadow: 5px 5px 0px 0px #272727;
}
.habitoalimenticio img {
  margin-top: 25px;
  margin-bottom: 25px;
}
.habitoalimenticio h5 {
  background-color: #354259;
  border-radius: 10px;
  padding: 6px;
  color: #F7DAD9;
  border: 2px solid #fabfbd;
  font-size: 20px;
}

/**PROPIEDADES CITAS**/
.citas {
  background-color: #354259;
  border-radius: 10px;
  padding: 45px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #F7DAD9;
  width: 95%;
}
.citas h2 {
  background-color: #fabfbd;
  border-radius: 10px;
  border: 4px solid #F7DAD9;
  padding: 20px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 50px;
  color: #354259;
  font-size: 32px;
}
.citas ul {
  padding-left: 0;
  margin-top: 50px;
}
.citas a {
  background-color: #F7DAD9;
  border-radius: 10px;
  padding: 32px;
  font-size: 28px;
  color: #354259;
  margin-inline: 78px;
  border: 2px solid #fabfbd;
  text-decoration: underline;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
}
.citas li {
  display: inline;
  font-size: 20px;
}
.citas li a {
  transition: 2s;
}
.citas li a:hover {
  text-decoration: underline red;
  background-color: lightblue;
}

/**PROPIEDADES BENEFICIOS**/
.beneficios {
  background-color: #fabfbd;
  border-radius: 10px;
  padding: 35px;
  margin: 0 auto;
  margin-bottom: 32px;
  color: #354259;
  width: 95%;
}
.beneficios h2 {
  background-color: #354259;
  border-radius: 10px;
  border: 4px solid #F7DAD9;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #F7DAD9;
  font-size: 32px;
}
.beneficios p {
  font-size: 28px;
  background-color: #F7DAD9;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #354259;
  transition: 1s;
}
.beneficios p:hover {
  box-shadow: 5px 5px 0px 0px #272727;
}

.gradientes p {
  background: linear-gradient(to top, #f0928f, #fcc1bf);
}
.gradientes img {
  background: radial-gradient(circle, #f0928f, #fcc1bf);
  margin-bottom: 20px;
  border-radius: 100%;
}
.gradientes img:hover {
  transition: 1s;
  transform: rotate(360deg);
}

/**PROPIEDADES OBRAS SOCIALES**/
.obrasociales {
  margin-bottom: 40px;
}
.obrasociales ul {
  padding-left: 0;
}
.obrasociales h2 {
  background-color: #354259;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #F7DAD9;
  border: 4px solid #fabfbd;
  width: 95%;
  font-size: 32px;
}
.obrasociales li {
  display: inline;
  margin-inline: 78px;
}
.obrasociales img:hover {
  transform: rotate(15deg);
  transition: 1s;
}
.obrasociales .accordion-item {
  background-color: #F7DAD9;
}
.obrasociales .accordion-button {
  background-color: #fabfbd;
  color: #354259;
  font-size: 20px;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
}

/**PROPIEDADES SOBRE MI**/
.sobremi {
  margin-top: 20px;
  color: #354259;
}
.sobremi h2 {
  background-color: #354259;
  border-radius: 10px;
  border: 4px solid #fabfbd;
  padding: 12px;
  margin: 0 auto;
  color: #F7DAD9;
  width: 95%;
  font-size: 32px;
}
.sobremi img {
  position: relative;
  right: 20%;
  margin-top: 12px;
}
.sobremi li {
  list-style-type: none;
  font-size: 20px;
  background-color: #fabfbd;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 45%;
  border: 2px solid #354259;
  margin-bottom: 30px;
  transition: 1s;
}
.sobremi li:hover {
  box-shadow: 5px 5px 0px 0px #272727;
}
.sobremi iframe {
  margin-bottom: 30px;
}
.sobremi .list1 {
  position: absolute;
  bottom: 5%;
  left: 32%;
}
.sobremi .list2 {
  position: absolute;
  bottom: 12%;
  left: 32%;
}
.sobremi .list3 {
  position: absolute;
  bottom: 19%;
  left: 32%;
}
.sobremi .list4 {
  position: absolute;
  bottom: 26%;
  left: 32%;
}

/**PROPIEDADES SERVICIOS**/
.servicios {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #354259;
}
.servicios h2 {
  background-color: #354259;
  border-radius: 10px;
  border: 4px solid #fabfbd;
  padding: 12px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #F7DAD9;
  width: 95%;
  font-size: 32px;
}
.servicios a {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fabfbd;
  border-radius: 10px;
  padding: 20px;
  font-size: 28px;
  color: #354259;
  border: 4px solid #354259;
  text-decoration: underline;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
  transition: 2s;
}
.servicios a:hover {
  text-decoration: underline red;
  background-color: lightblue;
}
.servicios .accordion-flush .accordion-item:first-child {
  margin-top: 25px;
}
.servicios .accordion-flush .accordion-item {
  background-color: #F7DAD9;
}
.servicios .accordion-flush .accordion-item .accordion-button, .servicios .accordion-flush .accordion-item .accordion-button.collapsed {
  background-color: #fabfbd;
  border-radius: 4px;
  color: #354259;
  font-size: 20px;
}

/**PROPIEDADES PLANES**/
.planes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
  color: #354259;
}
.planes h2 {
  background-color: #354259;
  border-radius: 10px;
  border: 4px solid #fabfbd;
  padding: 12px;
  margin: 0 auto;
  color: #F7DAD9;
  width: 95%;
  font-size: 32px;
}
.planes li {
  transition: 2s;
}
.planes li:hover {
  text-decoration: underline red;
  background-color: lightblue;
}

.card {
  font-size: 26px;
  padding: 5px;
  margin-top: 15px;
  border: 2px solid #354259;
  margin-bottom: 15px;
  color: #354259;
  font-family: "Ubuntu", sans-serif;
  background-color: #fabfbd;
  width: 90%;
  transition: 1s;
}
.card:hover {
  box-shadow: 5px 5px 0px 0px #272727;
}
.card p {
  margin-bottom: 0;
}

.card-body {
  font-size: 26px;
  color: #354259;
  font-family: "Ubuntu", sans-serif;
}

.listaboton {
  padding: 60px;
}
.listaboton li {
  display: inline;
  cursor: pointer;
  background-color: #fabfbd;
  border-radius: 10px;
  padding: 30px;
  font-size: 20px;
  color: #354259;
  margin-inline: 25px;
  border: 3px solid #354259;
  text-decoration: underline;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
  margin-top: 20px;
}
.listaboton li a {
  transition: 2s;
  font-size: 28px;
}
.listaboton li a:hover {
  text-decoration: underline red;
  background-color: lightblue;
}

.beneficios p {
  background: linear-gradient(to top, #f0928f, #fcc1bf);
}
.beneficios img {
  background: radial-gradient(circle, #f0928f, #fcc1bf);
  margin-bottom: 20px;
  border-radius: 100%;
}
.beneficios img:hover {
  transition: 1s;
  transform: rotate(360deg);
}

/**PROPIEDADES CONTACTO**/
.principal h2 {
  background-color: #354259;
  border-radius: 10px;
  border: 4px solid #fabfbd;
  padding: 12px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #F7DAD9;
  width: 95%;
  font-size: 32px;
}

.formgeneral {
  color: #354259;
  background-color: #fabfbd;
  border: 2px solid #354259;
  border-radius: 8px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  margin: 20px 400px 20px 400px;
}
.formgeneral input {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1.5px solid #495e8d;
  background-color: white;
  padding: 12px;
}
.formgeneral select {
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1.5px solid #495e8d;
  background-color: white;
  padding: 12px;
}
.formgeneral .legal a {
  color: #495e8d;
  font-size: 20px;
  text-decoration: underline;
}
.formgeneral .legal a:hover {
  background-color: #F7DAD9;
}

.btn-primary {
  background-color: #495e8d;
  border: 2px solid #F7DAD9;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-size: 18px;
  color: #F7DAD9;
  --bs-btn-hover-bg: lightblue;
}

/**PROPIEDADES BLOG**/
.blog {
  margin-top: 20px;
  color: #354259;
}
.blog h2 {
  background-color: #354259;
  padding: 12px;
  margin: 0 auto;
  color: #F7DAD9;
  font-size: 32px;
}
.blog h3 {
  background-color: #fabfbd;
  font-size: 24px;
}
.blog p {
  font-size: 28px;
  background-color: #F7DAD9;
  padding: 10px;
}
.blog img {
  margin-bottom: 12px;
  margin-top: 6px;
  transition: 1s;
}
.blog img:hover {
  box-shadow: 5px 5px 0px 0px #272727;
}

/**MEDIAQUERIES - HEADER**/
@media only screen and (max-width: 700px) {
  .header img {
    width: 25%;
  }
  .header h1 {
    font-size: 28px;
  }
  .header span {
    font-size: 40px;
  }
  .header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header li {
    width: 70%;
    margin-top: 6px;
  }
  .titulo:after {
    height: 2px;
    bottom: 0px;
  }
}
@media only screen and (max-width: 360px) {
  .header img {
    width: 20%;
  }
  .header h1 {
    font-size: 18px;
  }
  .header span {
    font-size: 26px;
  }
  .header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header li {
    width: 60%;
    padding: 3px;
    margin-top: 6px;
  }
}
/**MEDIAQUERIES - HABITO ALIMENTICIO**/
@media only screen and (max-width: 1080px) {
  .habitoalimenticio img {
    width: 60%;
  }
}
@media only screen and (max-width: 900px) {
  .habitoalimenticio h2 {
    font-size: 22px;
  }
  .habitoalimenticio p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .habitoalimenticio img {
    width: 10%;
  }
  .habitoalimenticio h2 {
    font-size: 20px;
  }
  .habitoalimenticio p {
    font-size: 18px;
  }
}
/**MEDIAQUERIES - CITAS**/
@media only screen and (max-width: 1580px) {
  .serviciosplanes li {
    display: flex;
    flex-direction: column;
  }
  .citas {
    padding: 25px;
  }
  .serviciosplanes li a {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .citas h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .serviciosplanes a {
    font-size: 20px;
  }
  .citas {
    margin-bottom: 16px;
  }
  .citas a {
    margin-inline: 6px;
  }
}
/**MEDIAQUERIES - BENEFICIOS**/
@media only screen and (max-width: 900px) {
  .beneficios h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .beneficios p {
    font-size: 24px;
  }
  .beneficios img {
    width: 18%;
  }
}
/**MEDIAQUERIES - OBRAS SOCIALES**/
@media only screen and (max-width: 1400px) {
  .obrasociales img {
    width: 15%;
  }
}
@media only screen and (max-width: 900px) {
  .obrasociales h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .obrasociales ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .obrasociales img {
    width: 80%;
  }
}
/**MEDIAQUERIES - SOBRE MI**/
@media only screen and (max-width: 1100px) {
  iframe {
    width: 70%;
    height: 70%;
  }
  .sobremi h2 {
    font-size: 22px;
  }
  .sobremi img {
    position: relative;
  }
  .sobremi li {
    width: 50%;
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .sobremi img {
    position: inherit;
  }
  .sobremi .list4 {
    position: inherit;
  }
  .sobremi .list3 {
    position: inherit;
  }
  .sobremi .list2 {
    position: inherit;
  }
  .sobremi .list1 {
    position: inherit;
  }
}
@media only screen and (max-width: 650px) {
  .sobremi img {
    width: 80%;
  }
}
/**MEDIAQUERIES - SERVICIOS**/
@media only screen and (max-width: 1500px) {
  .servicios h2 {
    font-size: 22px;
  }
  .servicios a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .servicios a {
    font-size: 18px;
    padding: 15px;
  }
}
/**MEDIAQUERIES - PLANES**/
@media only screen and (max-width: 1500px) {
  .planes h2 {
    font-size: 22px;
  }
  .planes a {
    font-size: 18px;
  }
  .card-body {
    font-size: 20px;
  }
  .listaboton li a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .planes li {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .listaboton {
    padding: 15px;
  }
}
/**MEDIAQUERIES - BLOG**/
@media only screen and (max-width: 600px) {
  .blog h2 {
    font-size: 22px;
  }
  .blog p {
    font-size: 20px;
  }
  .blog img {
    width: 90%;
  }
}
/**MEDIAQUERIES - CONTACTO**/
@media only screen and (max-width: 1300px) {
  .formgeneral {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 700px) {
  .principal h2 {
    font-size: 22px;
  }
}
/**MEDIAQUERIES - FOOTER**/
@media only screen and (max-width: 600px) {
  .imgfooter img {
    width: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
