
/**PROPIEDADES BLOG**/

.blog {
    margin-top: 20px;
    color: #354259;
}

.blog h2 {
    background-color: #354259;
    padding: 12px;
    margin: 0 auto;
    color: #F7DAD9;
    font-size: 32px;
}

.blog h3 {
    background-color: #fabfbd;
}

.blog p {
    font-size: 28px;
    background-color: #F7DAD9;
    padding: 10px;
}

.blog img {
    margin-bottom: 12px;
    margin-top: 6px;
}
