
/**PROPIEDADES BLOG**/

.blog {
    margin-top: 20px;
    color: $bg-blue;
    h2 {
        background-color: $bg-blue;
        padding: 12px;
        margin: 0 auto;
        color: $bg-lightpink;
        font-size: $fsh2;
    }
    h3 {
        background-color: $bg-pink;
        font-size: $fsh3;
    }
    p {
        font-size: $fsp;
        background-color: $bg-lightpink;
        padding: 10px;
    }
    img {
        margin-bottom: 12px;
        margin-top: 6px;
        transition: 1s;
        &:hover {
            box-shadow: 5px 5px 0px 0px #272727;
        }
    }
}