
/**PROPIEDADES BLOG**/

.blog {
    margin-top: 20px;
    color: $bg-blue;
    h2 {
        background-color: $bg-blue;
        padding: 12px;
        margin: 0 auto;
        color: $bg-lightpink;
        font-size: 32px;
    }
    h3 {
        background-color: $bg-pink;
    }
    p {
        font-size: 28px;
        background-color: $bg-lightpink;
        padding: 10px;
    }
    img {
        margin-bottom: 12px;
        margin-top: 6px;
    }
    
}