
/**GRID**/

#grid_index {
    display: grid;
    grid-template-areas:
    "header"
    "principal"
    "footer";
}

#grid_sobremi {
    display: grid;
    grid-template-areas:
    "header"
    "principal"
    "footer";
}

#grid_servicios {
    display: grid;
    grid-template-areas:
    "header"
    "principal"
    "footer";
}

#grid_planes {
    display: grid;
    grid-template-areas:
    "header"
    "principal"
    "footer";
}

#grid_contacto {
    display: grid;
    grid-template-areas:
    "header"
    "principal"
    "footer";
}

#grid_blog {
    display: grid;
    grid-template-areas:
    "header"
    "principal"
    "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: principal;
}

footer {
    grid-area: footer;
}