
/**GRID**/

#grid_index {
    @include grid(grid,grid-template-areas "header""principal""footer");
}

#grid_sobremi {
    @include grid(grid,grid-template-areas "header""principal""footer");
}

#grid_servicios {
    @include grid(grid,grid-template-areas "header""principal""footer");
}

#grid_planes {
    @include grid(grid,grid-template-areas "header""principal""footer");
}

#grid_contacto {
    @include grid(grid,grid-template-areas "header""principal""footer");
}

#grid_blog {
    @include grid(grid,grid-template-areas "header""principal""footer");
}

header {
    grid-area: header;
}

main {
    grid-area: principal;
}

footer {
    grid-area: footer;
}