
/**PROPIEDADES INDEX**/

/**GRID**/

#grid_index {
    display: grid;
    grid-template-areas:
    "header"
    "principal"
    "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: principal;
}

footer {
    grid-area: footer;
}


/**PROPIEDADES HABITO ALIMENTICIO**/

.habitoalimenticio {
    @include flex(column,center);
    margin-top: 15px;
    color: $bg-blue;
    h2 {
        background-color: $bg-blue;
        border-radius: 10px;
        border: 4px solid $bg-pink;
        padding: 12px;
        margin: 0 auto;
        color: $bg-lightpink;
        width: 95%;
        font-size: $fsh2;
    }
    p {
        padding: 10px;
        width: 95%;
        margin-top: 16px;
        margin-bottom: 0;
        color: $bg-blue;
        font-size: $fsp;
        border: 1px solid $bg-blue;
        background-color: $bg-pink;
        border-radius: 10px;
        transition: 1s;
        &:hover {
            box-shadow: 5px 5px 0px 0px #272727;
        }
    }
    img {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    h3 {
        background-color: $bg-blue;
        border-radius: 10px;
        padding: 6px;
        color: $bg-lightpink;
        border: 2px solid $bg-pink;
        font-size: $fsh3;
    }
}


/**PROPIEDADES CITAS**/

.citas {
    background-color: $bg-blue;
    border-radius: 10px;
    padding: 45px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
    color: $bg-lightpink;
    width: 95%;
    h2 {
        background-color: $bg-pink;
        border-radius: 10px;
        border: 4px solid $bg-lightpink;
        padding: 20px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 50px;
        color: $bg-blue;
        font-size: $fsh2;
    }
    ul {
        padding-left: 0;
        margin-top: 50px
    }
    a {
        background-color: $bg-lightpink; 
        border-radius: 10px;
        padding: 32px;
        font-size: $fsa;
        color: $bg-blue;
        margin-inline: 78px;
        border: 2px solid $bg-pink;
        text-decoration: underline;
        font-family: $main-fonta;
    }
    li{
        display: inline;
        font-size: $fsli;
        a{
            transition: 2s;
            &:hover {
                text-decoration: underline red;
                background-color: lightblue;
            }
        }
    }
}


/**PROPIEDADES BENEFICIOS**/

.beneficios {
    background-color: $bg-pink;
    border-radius: 10px;
    padding: 35px;
    margin: 0 auto;
    margin-bottom: 32px;
    color: $bg-blue;
    width: 95%;
    h2 {
        background-color: $bg-blue;
        border-radius: 10px;
        border: 4px solid $bg-lightpink;
        padding: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        color: $bg-lightpink;
        font-size: $fsh2;
    }
    p {
        font-size: $fsp;
        background-color: $bg-lightpink;
        border-radius: 10px;
        padding: 10px;
        border: 2px solid $bg-blue;
        transition: 1s;
        &:hover {
            box-shadow: 5px 5px 0px 0px #272727;
        }
    }
}

.gradientes {
    p {
        background: linear-gradient(to top,#f0928f,#fcc1bf);
    }
    img {
        background: radial-gradient(circle,#f0928f,#fcc1bf);
        margin-bottom: 20px;
        border-radius: 100%;
        &:hover {
            transition: 1s;
            transform: rotate(360deg);
        }
    }
}


/**PROPIEDADES OBRAS SOCIALES**/

.obrasociales {
    margin-bottom: 40px;
    ul {
        padding-left: 0 ;
    }
    h2 {
        background-color: $bg-blue;
        border-radius: 10px;
        padding: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        color: $bg-lightpink;
        border: 4px solid $bg-pink;
        width: 95%;
        font-size: $fsh2;
    }
    li {
        display: inline;
        margin-inline: 78px;
    }
    img:hover {
        transform: rotate(15deg);
        transition: 1s;
    }
    .accordion-item {
        background-color: $bg-lightpink;
    }
    .accordion-button {
        background-color: $bg-pink;
        color: $bg-blue;
        font-size: 20px;
        font-family: $main-fonta;
    }
}