
/**MEDIAQUERIES - HEADER**/

@media only screen and (max-width: 700px) {
    .header {
        img {
            width: 150px;
            height: 117.75px;
        }
        h1 {
            font-size: 28px;
        }
        span {
            font-size: 40px;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        li {
            width: 70%;
            margin-top: 6px;
        }
    }
    .titulo:after {
        height: 2px;
        bottom: 0px;
    }
}

@media only screen and (max-width: 360px) {
    .header {
        img {
            width: 100px;
            height: 78.5px;
        }
        h1 {
            font-size: 18px;
        }
        span {
            font-size: 26px;
        }
        li {
            width: 60%;
            padding: 1px;
            margin-top: 6px;
        }
    }
}


/**MEDIAQUERIES - HABITO ALIMENTICIO**/
@media only screen and (max-width: 900px) {
    .habitoalimenticio {
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 360px) {
    .habitoalimenticio {
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .carousel-inner {
        h3 {
            border: 2px solid $bg-pink;
            padding: 8px;
            width: 60%;
            font-size: 18px;
        }
    }
}



/**MEDIAQUERIES - CITAS**/
@media only screen and (max-width:1580px) {
    .serviciosplanes {
        li{ 
            display: flex;
            flex-direction:column;
            a{ 
                margin-top: 10px;
                margin-bottom: 5px;
                padding: 10px;  
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .serviciosplanes a {
        font-size: 20px;
    }
    .citas {
        margin-bottom: 16px;
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        a {
            margin-inline: 6px;
        }
    }
}

/**MEDIAQUERIES - BENEFICIOS**/
@media only screen and (max-width: 900px) {
    .beneficios {
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        p {
            font-size: 20px;
        }
        img {
            width: 70px;
            height: 70px;
        }
    } 
}

/**MEDIAQUERIES - OBRAS SOCIALES**/
@media only screen and (max-width: 1350px) {
    .obrasociales img {
        width: 174.375px;
        height: 42.75px;
    }

}

@media only screen and (max-width: 900px) {
    .obrasociales {
        img {
            width: 139.5px;
            height: 34px;
        }
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }
}


/**MEDIAQUERIES - SOBRE MI**/
@media only screen and (max-width: 1100px) {
    iframe {
        width: 75%;
        height: 75%;
    }
    .sobremi {
        h2 {
            font-size: 22px;
        }
        img {
            position: relative;
        }
        li {
            width: 50%;
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .sobremi {
        img {
            position: inherit;
        }
        .list4, .list3, .list2, .list1 {
            position: inherit;
        }
    }
}

@media only screen and (max-width: 650px) {
    .sobremi img {
        width: 300px;
        height: 300px;
    }
}

/**MEDIAQUERIES - SERVICIOS**/
@media only screen and (max-width: 1500px) {
    .servicios {
        h2 {
            font-size: 22px;
        }
        a {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .servicios a {
        font-size: 18px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

/**MEDIAQUERIES - PLANES**/
@media only screen and (max-width: 1500px) {
    .planes {
        a {
            font-size: 18px;
        }
        .card-body {
            font-size: 20px;
        }
        .listaboton li a {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .planes {
        .listaboton {
            padding: 15px;
            li {
                display: flex;
                flex-direction: column;
                padding: 20px;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .planes {
        h2 {
            font-size: 22px;
        }
        .card p.card-body {
            font-size: 20px;
        }
    }
}


/**MEDIAQUERIES - BLOG**/
@media only screen and (max-width: 600px) {
    .blog {
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 20px;
        }
        img {
            width: 225px;
            height: 225px;
        }
    }

}

/**MEDIAQUERIES - CONTACTO**/
@media only screen and (max-width: 1300px) {
    .formgeneral {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    .contacto1 h2 {
        font-size: 22px;
    }
}

/**MEDIAQUERIES - FOOTER**/
@media only screen and (max-width: 600px) {
    .imgfooter img {
        width: 123.5px;
        height: 99.5px;
    }
}