
/**PROPIEDADES PLANES**/

/**GRID**/

#grid_planes {
    display: grid;
    grid-template-areas:
    "header"
    "principal"
    "footer";
}

.planes {
    @include flex(column,center);
    margin-top: 15px;
    align-items: center;
    margin-bottom: 20px;
    color: $bg-blue;
    h2 {
        background-color: $bg-blue;
        border-radius: 10px;
        border: 4px solid $bg-pink;
        padding: 12px;
        margin: 0 auto;
        color: $bg-lightpink;
        width: 95%;
        font-size: $fsh2;
    }
    li {
        transition: 2s;
        &:hover {
            text-decoration: underline red;
            background-color: lightblue;
        }
    }
    .card {
        font-size: 26px;
        padding: 5px;
        margin-top: 15px;
        border: 2px solid $bg-blue;
        margin-bottom: 15px;
        color: $bg-blue;
        font-family: $main-fontbody;
        background-color: $bg-pink;
        width: 90%;
        transition: 1s;
        &:hover {
            box-shadow: 5px 5px 0px 0px #272727;
        }
        p {
            margin-bottom: 0;
        }
        .card-body {
            font-size: 26px;
            color: #354259;
            font-family: 'Ubuntu', sans-serif;
        }
    }
    .listaboton {
        padding: 60px;
        li {
            display: inline;
            cursor: pointer;
            background-color: $bg-pink; 
            border-radius: 10px;
            padding: 30px;
            font-size: $fsli;
            color: $bg-blue;
            margin-inline: 25px;
            border: 3px solid $bg-blue;
            text-decoration: underline;
            font-family: $main-fonta;
            margin-top: 20px;
            &:hover {
                transition: 2s;
                text-decoration: underline red;
                background-color: lightblue;
            }
            a {
                font-size: $fsa;
                color: #354259;
            }
        }
    }
}

.beneficios {
    p {
        background: linear-gradient(to top,#f0928f,#fcc1bf);
    }
    img {
        background: radial-gradient(circle,#f0928f,#fcc1bf);
        margin-bottom: 20px;
        border-radius: 100%;
        &:hover {
            transition: 1s;
            transform: rotate(360deg);
        }
    }
}