
/**PROPIEDADES SERVICIOS**/

.servicios {
    margin-top: 15px;
    margin-bottom: 25px;
    color: $bg-blue;
    h2 {
        background-color: $bg-blue;
        border-radius: 10px;
        border: 4px solid $bg-pink;
        padding: 12px;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        color: $bg-lightpink;
        width: 95%;
        font-size: $fsh2;
    }
    a {
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: $bg-pink; 
        border-radius: 10px;
        padding: 20px;
        font-size: $fsa;
        color: $bg-blue;
        border: 4px solid $bg-blue;
        text-decoration: underline;
        font-family: $main-fonta;
        transition: 2s;
        &:hover {
            text-decoration: underline red;
            background-color: lightblue;
        }
    }
    .accordion-flush .accordion-item:first-child {
        margin-top: 25px;
    }
    .accordion-flush .accordion-item {
        background-color: $bg-lightpink;
    }
    .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
        background-color: $bg-pink;
        border-radius: 4px;
        color: #354259;
        font-size: 20px;
    }
}