
/**PROPIEDADES SOBRE MI**/

.sobremi {
    margin-top: 20px;
    color: $bg-blue;
    h2 {
        background-color: $bg-blue;
        border-radius: 10px;
        border: 4px solid $bg-pink;
        padding: 12px;
        margin: 0 auto;
        color: $bg-lightpink;
        width: 95%;
        font-size: 32px;
    }
    img {
        position: relative;
        right: 20%;
        margin-top: 12px;
    }
    li {
        list-style-type: none;
        font-size: 20px;
        background-color: $bg-pink;
        border-radius: 10px;
        padding: 10px;
        margin: 0 auto;
        width: 45%;
        border: 2px solid $bg-blue;
        margin-bottom: 30px;
    }
    iframe {
        margin-bottom: 30px;
    }
    .list1 {
        position: absolute;
        bottom: 5%;
        left: 32%;
    }
    .list2 {
        position: absolute;
        bottom: 12%;
        left: 32%;
    }
    .list3 {
        position: absolute;
        bottom: 19%;
        left: 32%;
    }
    .list4 {
        position: absolute;
        bottom: 26%;
        left: 32%;
    }
}