
/**PROPIEDADES SOBRE MI**/

.sobremi {
    margin-top: 20px;
    color: #354259;
}

.sobremi h2 {
    background-color: #354259;
    border-radius: 10px;
    border: 4px solid #fabfbd;
    padding: 12px;
    margin: 0 auto;
    color: #F7DAD9;
    width: 95%;
    font-size: 32px;
}

.sobremi img {
    position: relative;
    right: 20%;
    margin-top: 12px;
}

.sobremi li {
    list-style-type: none;
    font-size: 20px;
    background-color: #fabfbd;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    width: 45%;
    border: 2px solid #354259;
    margin-bottom: 30px;
}

.list1 {
    position: absolute;
    bottom: 5%;
    left: 32%;
}
.list2 {
    position: absolute;
    bottom: 12%;
    left: 32%;
}
.list3 {
    position: absolute;
    bottom: 19%;
    left: 32%;
}
.list4 {
    position: absolute;
    bottom: 26%;
    left: 32%;
}

iframe {
    margin-bottom: 30px;
}

h5 {
    background-color: #354259;
    border-radius: 10px;
    padding: 6px;
    color: #F7DAD9;
    border: 2px solid #fabfbd;
    font-size: 20px;
}