
/**PROPIEDADES FOOTER**/

footer {
    display: flex;
    flex-direction: column;
    padding: 22px;
    background-color: #354259;
    text-align: center;
    img:hover {
        transition: 1s;
        transform: rotate(360deg);
    }
}

.redesociales {
    li {
        display: inline;
        text-decoration: none;
        margin-inline: 25px;
    }
    img:hover {
        transition: 1s;
        transform: rotate(360deg);
    }
}