
/**PROPIEDADES HEADER**/

header {
    display: flex;
    flex-direction: column;
    background-color: #354259;
    color: #fabfbd;
    text-align: center;
    h1{
        font-weight: lighter;
        font-family: $main-fonth;
        font-size: $fsh1;
        margin: 0;
    }
    span{
        font-weight: bold;
        font-size: $fsh1span;
    }
    ul {
        padding-left: 0;
    }
    li {
        display: inline;
        border-radius: 6px;
        background-color: #F7DAD9;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        font-size: $fsli;
        margin-inline: 4px;
        font-family: 'Sacramento', cursive;
        text-decoration: underline;
    }
    a {
        color: #354259;
        font-size: $fsa;
    }
    img {
        width: auto;
        height: auto;
        &:hover {
            transition: 1s;
            transform: rotate(360deg);
        }
    }
}

.titulo {
    display: inline-block;
    position: relative;
}
.titulo:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 10px;
    left: 0;
    background-color: #F7DAD9;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
    
}
.titulo:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.nav-list li{
    transition: 2s;
    &:hover {
        text-decoration: underline red;
        background-color: lightblue;
    }
}