
/**PROPIEDADES HEADER**/

header {
    display: flex;
    flex-direction: column;
    background-color: #354259;
    color: #fabfbd;
    text-align: center;
    h1{
        font-weight: lighter;
        font-family: $main-fonth;
        font-size: $fsh1;
    }
    span{
        font-weight: bold;
        font-size: $fsh1span;
    }
    ul {
        padding-left: 0;
    }
    li {
        display: inline;
        border-radius: 6px;
        background-color: #F7DAD9;
        padding: 8px;
        font-weight: bold;
        cursor: pointer;
        font-size: $fsli;
        margin-inline: 4px;
        font-family: 'Sacramento', cursive;
        text-decoration: underline;
    }
    a {
        color: #354259;
        font-size: $fsa;
    }
}

.nav-list li{
    transition: 2s;
    &:hover {
        text-decoration: underline red;
        background-color: lightblue;
    }
}