
/**PROPIEDADES HEADER**/

header {
    display: flex;
    flex-direction: column;
    background-color: #354259;
    color: #fabfbd;
    text-align: center;
    h1{
        font-weight: lighter;
        font-family: 'Raleway', sans-serif;
        font-size: 54px;
    }
    span{
        font-weight: bold;
        font-size: 74px;
    }
    ul {
        padding-left: 0;
    }
    li {
        display: inline;
        border-radius: 6px;
        background-color: #F7DAD9;
        padding: 8px;
        font-weight: bold;
        cursor: pointer;
        font-size: 28px;
        margin-inline: 4px;
        font-family: 'Sacramento', cursive;
        text-decoration: underline;
    }
    a {
        color: #354259;
    }
}

.nav-list li{
    transition: 2s;
    &:hover {
        text-decoration: underline red;
        background-color: lightblue;
    }
}