
/** UTILIDADES **/

@mixin flex($direction,$align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
}


@mixin grid($display,$grid-template-areas) {
    display: grid;
    grid-template-areas:     
    "header"
    "principal"
    "footer";
}