
/** VARIABLES DE COLORES **/

$bg-dark: #f18d8d;
$bg-white: #eee;


/** VARIABLES DE FUENTES **/

$main-font: Verdana, Geneva, Tahoma, sans-serif;


/** VARIABLES DE TAMAÑOS **/

$sm: 24px;


/** VARIABLES DE BOTONES **/

$tipo: primary;