
/** VARIABLES DE COLORES **/
$bg-blue:#354259;
$bg-pink:#fabfbd;
$bg-lightpink: #F7DAD9;


/** VARIABLES DE FUENTES **/
$main-fontbody: 'Ubuntu', sans-serif;
$main-fontheader: 'Sacramento', cursive;
$main-fonth: 'Raleway', sans-serif;
$main-fonta: "Google Sans",Helvetica,Arial,sans-serif;

/** VARIABLES DE FONT SIZES **/
$fsh1: 54px;
$fsh1span: 74px;
$fsh2: 32px;
$fsh3: 24px;
$fsh5: 20px;
$fsp: 28px;
$fsa: 28px;
$fsli: 20px;
$fslabel: 20px;