
/** VARIABLES DE COLORES **/
$bg-blue:#354259;
$bg-pink:#fabfbd;
$bg-lightpink: #F7DAD9;


/** VARIABLES DE FUENTES **/
$main-fontbody: 'Ubuntu', sans-serif;
$main-fontheader: 'Raleway', sans-serif;


/** VARIABLES DE TAMAÑOS  - AUN NO LO APLIQUE -
$sm: 24px;**/